<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.newhb.grabings">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.tencent.newhb.grabings.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:value="201703281020"
            android:name="BUILD_TIME"/>

        <meta-data
            android:value="anzhi"
            android:name="UMENG_CHANNEL"/>

        <activity
            android:name="com.tencent.newhb.grabings.ui.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.newhb.grabings.ui.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name="com.tencent.newhb.grabings.ui.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.tencent.newhb.grabings.ui.HelpActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.tencent.newhb.grabings.ui.LogActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.tencent.newhb.grabings.ui.PCActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.tencent.newhb.grabings.webView.WebViewActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.tencent.newhb.grabings.QiangHongBaoService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/qianghongbao_service_config" />
        </service>

        <meta-data android:name="UMENG_APPKEY" android:value="59b10879aed179706000038b"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tencent.newhb.grabings.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


    </application>

</manifest>